# Motorcycle Parts Sales Analysis Report

The board of directors wants to gain a better understanding of how the business is doing in the three months it has been in operation and what they should concentrate on.

Questions of analysis?
1.	What are the total sales for each product line?
2.	What was the revenue by client type?
3.	Which payment method did customers prefer?
4.	What is the average unit price for each product line?
5.	Which warehouse had the highest sales?


### Data

The data was obtained from data camp projects data database.
The sales data has the following fields:

order_number - Unique order number
date - The date from June to August 2021.
warehouse - The company operates three warehouses: North, Central, and West.
client_type - There are two types of customers: Retail and Wholesale.
product_line - Type of products purchased.
quantity - How many items were purchased.
unit_price - Price per item sold.
total - Total sales.
payment - Payment method; Cash, Credit card, Transfer.
payment_fee - Fees charged by payment method in percentage of total

In [2]:
-- First rows of the sales data
SELECT*
FROM sales
LIMIT 10;

  order_number                      date  ...      payment payment_fee
0           N1 2021-06-01 00:00:00+00:00  ...         Cash        0.00
1           N2 2021-06-01 00:00:00+00:00  ...  Credit card        0.03
2           N3 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
3           N4 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
4           N5 2021-06-01 00:00:00+00:00  ...  Credit card        0.03
5           N6 2021-06-02 00:00:00+00:00  ...  Credit card        0.03
6           N7 2021-06-02 00:00:00+00:00  ...  Credit card        0.03
7           N8 2021-06-03 00:00:00+00:00  ...  Credit card        0.03
8           N9 2021-06-03 00:00:00+00:00  ...  Credit card        0.03
9          N10 2021-06-03 00:00:00+00:00  ...  Credit card        0.03

[10 rows x 10 columns]

### Number of orders per client type
Retail has more orders compared to retail.

In [13]:
-- Number of customers by client_type
SELECT client_type,
		COUNT(*) as number_of_orders
FROM sales
GROUP BY client_type;

  client_type  number_of_orders
0   Wholesale               225
1      Retail               775

### Warehouse with the most sales
Central warehouse has the most sales.

In [12]:
-- Warehouse with most sales
SELECT warehouse,
		COUNT(DISTINCT order_number) AS number_of_orders,
		SUM(total) AS total_sales
FROM sales
GROUP BY warehouse
ORDER BY total_sales DESC;

  warehouse  number_of_orders  total_sales
0   Central               480    141982.88
1     North               340    100203.63
2      West               180     46926.49

### Revenue per client type
Wholesale generate more revenue.

In [6]:
-- Revenue by client type
SELECT client_type, 
       SUM(total) AS total_sales
FROM sales
GROUP BY client_type;

  client_type  total_sales
0   Wholesale    159642.33
1      Retail    129470.67

### Average unit price for each product line
Engine has the highest average unit price.

In [6]:
-- Average unit price for each product line
SELECT product_line, 
		ROUND(AVG(unit_price), 2) AS avg_price
FROM sales
GROUP BY product_line
ORDER BY avg_price DESC;

            product_line  avg_price
0                 Engine      60.09
1           Frame & body      42.83
2  Suspension & traction      33.97
3      Electrical system      25.59
4          Miscellaneous      22.81
5         Braking system      17.74

### Revenue by product line and client type
Suspension and traction generate more revenue.

In [14]:
-- Total sales for each product line and client type
SELECT product_line, client_type,
		SUM(total) AS total_sales
FROM sales
GROUP BY client_type, product_line
ORDER BY product_line DESC;

             product_line client_type  total_sales
0   Suspension & traction   Wholesale     38295.27
1   Suspension & traction      Retail     34718.94
2           Miscellaneous   Wholesale     15747.81
3           Miscellaneous      Retail     11418.01
4            Frame & body      Retail     29546.84
5            Frame & body   Wholesale     39477.89
6                  Engine      Retail     16709.33
7                  Engine   Wholesale     21236.05
8       Electrical system      Retail     21858.30
9       Electrical system   Wholesale     21754.41
10         Braking system   Wholesale     23130.90
11         Braking system      Retail     15219.25

### Prefered payment method client wise
Wholesale clients use transfer payment method while retail customers prefer credit card payment method.

In [1]:
-- Prefered payment method
SELECT payment, client_type,
		SUM(total) AS total_sales
FROM sales
GROUP BY payment, client_type
ORDER BY total_sales DESC;

       payment client_type  total_sales
0     Transfer   Wholesale    159642.33
1  Credit card      Retail    110271.57
2         Cash      Retail     19199.10

### Summary of the wholesale top products sales per month
In wholesale, the sales of the top 3 products were high in August and least in July.
The product line with most sales was suspension and traction June and July and Frame and body with a big hike in August.

In [21]:
SELECT TO_CHAR(date, 'month') AS month,
       SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY month
ORDER BY net_revenue DESC;

       month  net_revenue
0  august        61455.55
1  june          49099.18
2  july          49085.35

In [19]:
-- Breakdown of the client_type
-- Wholesale product line sales per month
WITH TopProducts AS (
    SELECT product_line
    FROM sales
    WHERE client_type = 'Wholesale'
    GROUP BY product_line
    ORDER BY SUM(total) - SUM(payment_fee) DESC
    LIMIT 3
)
SELECT product_line,
       TO_CHAR(date, 'month') AS month,
       warehouse,
       SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
AND product_line IN (SELECT product_line FROM TopProducts)
GROUP BY product_line, warehouse, month
ORDER BY product_line, month, net_revenue DESC;

             product_line      month warehouse  net_revenue
0          Braking system  august      Central      3039.41
1          Braking system  august         West      2500.67
2          Braking system  august        North      1770.84
3          Braking system  july        Central      3778.65
4          Braking system  july           West      3060.93
5          Braking system  july          North      2594.44
6          Braking system  june        Central      3684.89
7          Braking system  june          North      1487.77
8          Braking system  june           West      1212.75
9            Frame & body  august      Central      8657.99
10           Frame & body  august        North      7898.89
11           Frame & body  august         West       829.69
12           Frame & body  july          North      6154.61
13           Frame & body  july        Central      3135.13
14           Frame & body  june        Central      5111.34
15           Frame & body  june          North      4910.12
16           Frame & body  june           West      2779.74
17  Suspension & traction  august      Central      5416.70
18  Suspension & traction  august        North      4923.69
19  Suspension & traction  august         West      1080.79
20  Suspension & traction  july        Central      6456.72
21  Suspension & traction  july          North      3714.28
22  Suspension & traction  july           West      2939.32
23  Suspension & traction  june          North      8065.74
24  Suspension & traction  june        Central      3325.00
25  Suspension & traction  june           West      2372.52

### Summary of the retail top products sales per month
In retail, the sales of the top 3 products were high in June and least in August.
In all the months, the product with the most sales is suspension and traction.

In [1]:
SELECT TO_CHAR(date, 'month') AS month,
       SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Retail'
GROUP BY month
ORDER BY net_revenue DESC;

       month  net_revenue
0  june          46213.22
1  july          44454.99
2  august        38782.69

In [20]:
-- Retail product line sales per month
WITH TopProducts AS (
    SELECT product_line
    FROM sales
    WHERE client_type = 'Retail'
    GROUP BY product_line
    ORDER BY SUM(total) - SUM(payment_fee) DESC
    LIMIT 3
)
SELECT product_line,
       TO_CHAR(date, 'month') AS month,
       warehouse,
       SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Retail'
AND product_line IN (SELECT product_line FROM TopProducts)
GROUP BY product_line, warehouse, month
ORDER BY product_line, month, net_revenue DESC;

             product_line      month warehouse  net_revenue
0       Electrical system  august        North      3123.00
1       Electrical system  august      Central      2884.35
2       Electrical system  august         West      1536.79
3       Electrical system  july        Central      4029.28
4       Electrical system  july           West      1644.97
5       Electrical system  july          North      1554.08
6       Electrical system  june        Central      3469.98
7       Electrical system  june          North      2114.98
8       Electrical system  june           West      1496.94
9            Frame & body  august        North      3723.04
10           Frame & body  august      Central      3599.87
11           Frame & body  august         West       966.72
12           Frame & body  july        Central      4523.68
13           Frame & body  july           West      2716.26
14           Frame & body  july          North      1937.93
15           Frame & body  june        Central      5010.74
16           Frame & body  june          North      3772.06
17           Frame & body  june           West      3293.27
18  Suspension & traction  august      Central      5526.55
19  Suspension & traction  august        North      4210.01
20  Suspension & traction  august         West      2256.99
21  Suspension & traction  july        Central      6958.57
22  Suspension & traction  july          North      3197.01
23  Suspension & traction  july           West       245.45
24  Suspension & traction  june          North      6002.25
25  Suspension & traction  june        Central      4985.23
26  Suspension & traction  june           West      1332.29

### Conclusion
The motorcycle part sales operation is showing promising growth, with notable trends in both wholesale and retail segments. The analysis reveals that:

1.  Wholesale generate more revenue compared to retail client type.
2. In wholesale, the most sold product line is frame and body. While in retail, the most sold product lines is suspension and traction.
3. The preferred payment method among retail customers is the credit card. While, wholesale customers only use transfer payment method.
4. The product with the highest average per unit price is the engine.
5. Retail has most orders compared to wholesale.

### Recommendations
1. Given that retail has the most orders, efforts should be made to boost retail revenue. This could include targeted marketing campaigns and promotions to encourage more purchases.
2. Focus on increasing revenue in the West Warehouse. This could involve offering region-specific promotions.